/** 
TODO:
test in all browsers
print css
font size for all dpi
 */

body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

header {
  background: #BFBAAB;
}

main {
}

footer {
  background: #7F7C72;
}

a:link {
  color: #2aa198;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #268bd2;
}

a:focus {
  text-decoration: underline;
}

a:visited {
  color: #839496;
}

.height-minor {
  height: 10%;
}

.height-major {
  height: 80%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-columns {
  flex-direction: column;
}

.code-bg {
  background: #eee8d5;;
}

.links {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.code {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: 34px;
}

.comments {
  color: #859900;
}

.comments::before {
  content: '//';
  padding-right: 20px;
}

.variable {
  color: #268bd2;
  font-style: italic;
}

.keyword {
  color: #073642;
}

.chars {
  color: #657b83;
}

.object-defn {
  padding-left: 24px;
}

.object-prop-name {
  color: #cb4b16;
  display: inline-block;
  width: 180px;
  font-size: 18px;
}

.object-prop-name::after {
  content: ':';
}

.object-prop-value {
  display: inline-block;
  font-size: 18px;
}

.object-prop {
  height: 34px;
  white-space: nowrap;
  font-size: 0;
}

.object-prop img {
  vertical-align: text-top;
  height: 24px;
}

.object-prop::after {
  content: ',';
  font-size: 18px;
}

.object-prop:last-child::after {
  content: '';
}

@media print {
  /** white background **/
}

@media screen and (max-width: 450px) {
  .code, .object-prop-name, .object-prop-value, .object-prop-value::after {
    font-size: 16px;
  }
  .object-prop-name {
    width: 144px;
  }
}

@media screen and (max-width: 395px) {
  .code {
    line-height: 30px;
  }
  .code, .object-prop-name, .object-prop-value, .object-prop-value::after {
    font-size: 14px;
  }
  .object-prop-name {
    width: 124px;
  }
  .object-prop {
    height: 30px;
  }
}


@media screen and (max-width: 350px) {
  .code {
    line-height: 26px;
  }
  .code, .object-prop-name, .object-prop-value, .object-prop-value::after {
    font-size: 12px;
  }
  .object-prop-name {
    width: 108px;
  }
  .object-defn {
    padding-left: 14px;
  }
  .object-prop {
    height: 26px;
  }
}
